# Large genomic data files
*.fna
*.fasta
*.fas
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.sam
*.bam
*.bai
*.vcf
*.vcf.gz
*.gff
*.gff3
*.gtf
*.qza
*.qzv

raw_data/
/home/vicky/metegenomics_wound_microbiome/results/databases


# Compressed files (unless specifically needed)
*.tar.gz
*.zip
*.tar.bz
